*{
background-attachment: fixed;
}



.h1-style{
	
	color:black;
	font-size:270%;
	text-align:center;
	background-color:white;
	border:20px black solid;
	
	}
	#rs-style{
	text-align:left;
	background-color:yellow;
	width:170px;
	
	padding:10px 15px;
	}
	
		
	#rs-style1{
	text-align:left;
	background-color:yellow;
	width:170px;
	
	padding:10px 15px;
	}
	
	
	.h4-style{
	width:50px;
	color:black;
	font-size:100%;
	text-align:center;
	background-color:white;
		padding:10px 15px;
	border:10px black dotted;
	}
	
	
	
	
	}

	.p3-style{
		height:180px;
		width:300px;
		background-color:lawngreen;
		border-size:border-box;
		border:5px black solid;
		overflow:auto;
	

		



	}

	





<hr>







.img-style{
background-color: black;
padding:10px 10px;
opacity: 5;
width:170px;
border-size:border-box;
border:10px pink solid;

}

.lin{

color:Black;
font-size:30px;
border:10px black solid;
padding:5px 5px;
background-color:white;


}


.tb{

background-color:white;
color:black;
font-size:14px;
Border:7px black solid;




}
th{
Border:7px black solid;


}

input{

width:500px;
height:24px;
border-bottom: 10px black solid;
color:black;

 
 
}

input:hover{

background-color: hotpink;

}





#search{
	


font-size: 1rem ;
background-position: 8px 12px;
padding: 15px 40px;


}

.tb{


background-color: black;
color: white;

cursor: help;


}

.newhd{

text-align:left;
text-decoration:none;



}
.ppp{



text-align: center;
background-color: black;
border-radius: 3px pink solid;
padding:5px;

}

.img{


width:250px;
height:200px;
border:10px solid black;

}